<h2>1x</h2>

<div id="original-canvas-container">
</div>

<% #link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'shapes/templates/circle' %>
<%= render 'shapes/templates/rectangle' %>

<ol id="shapes">
	
</ol>

<%= render 'form', type: "Circle" %>
<%= render 'form', type: "Rectangle" %>

<div class="import">
	<h2>Import Shapes from CSV</h2>

	<%= form_tag import_shapes_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %>
</div>

<div id="scaled-canvas-container">
</div>

<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "lib/underscore-min" %>
	<%= javascript_include_tag "lib/backbone-min" %>
	<%= javascript_include_tag "shapes" %>
<% end %> 
