<h2>1X</h2>

<div id="original-canvas-container">
</div>

<% #link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'shapes/templates/circle' %>
<%= render 'shapes/templates/rectangle' %>

<ol id="shapes">
	
</ol>

<%= render 'form', type: "Circle" %>
<%= render 'form', type: "Rectangle" %>

<div id="scaled-canvas-container">
</div>

<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "lib/underscore-min" %>
	<%= javascript_include_tag "lib/backbone-min" %>
	<%= javascript_include_tag "shapes" %>
<% end %> 
