<h1>Listing shapes</h1>

<div id="canvas-container">
	<canvas id="shapes-canvas" width="640" height="480"></canvas>
</div>

<% #link_to 'Destroy', shape, method: :delete, data: { confirm: 'Are you sure?' } %>

<script type="text/template" id="circle-template">
	<strong>[%= type %]</strong> (<span>[%= x %]<span>, <span>[%= y %]</span>) Radius: [%= radius %]
</script>
<script type="text/template" id="rectangle-template">
	<strong>[%= type %]</strong> (<span>[%= x %]<span>, <span>[%= y %]</span>) Dimensions: [%= width %]x[%= height %]
</script>

<ol id="shapes">
	
</ol>

<%= render 'form', type: "Circle" %>
<%= render 'form', type: "Rectangle" %>

<%= link_to 'New Shape', new_shape_path %>



<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "lib/underscore-min" %>
	<%= javascript_include_tag "lib/backbone-min" %>
	<%= javascript_include_tag "shapes" %>
<% end %> 
